<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/28889bed-efe7-4f91-bf6c-160bfa24c68c/resourcegroups/cloud-shell-storage-eastus/providers/Microsoft.ContainerRegistry/registries/TesteDesenvolvedorNETAPI20240812221022</ResourceId>
    <ResourceName>TesteDesenvolvedorNETAPI20240812221022</ResourceName>
    <ResourceGroup>cloud-shell-storage-eastus</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>testedesenvolvedornetapi20240812221022.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>b7b9c980-5c98-44e3-8381-59096a877ff8</ProjectGuid>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>