
@{
    ViewData["Title"] = "Home";
}


<div class="text-center">
    <h1 class="display-4">Bem vindo</h1>
</div>


<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">TestAPI</h1>
        <p class="lead text-muted">Projeto de Teste de APIs</p>
    </div>
</section>
