@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo à nossa plataforma educacional!</h1>
    <p>Explore nossas funcionalidades no cabeçalho da página.</p>
</div>
