@model Oferta
@{
    ViewData["title"] = "Cadastrar Curso";
}


<div class="container bg-dark p-5 rounded-5">
    <div class="mb-5 text-center">
        <h1 class="text-light">Cadastro de Cursos</h1>
    </div>
    <form method="post" asp-controller="Oferta" asp-action="Cadastrar">
        <div class="mb-3">
            <label for="Nome" class="text-light form-label">Nome:</label>
            <input type="text" asp-for="Nome" class="shadow-none form-control" id="exampleInputNome" placeholder="Qual o nome do Curso?">
            <span class="text-danger" asp-validation-for="Nome"></span>
        </div>
        <div class="mb-3">
            <label for="Descricao" class="text-light form-label">Descrição</label>
            <input asp-for="Descricao" type="text" class="form-control shadow-none" id="exampleInputDescricao" placeholder="Digite a descrição do curso">
            <span class="text-danger" asp-validation-for="Descricao"></span>
        </div>
        <div class="mb-3">
            <label for="Vagas" class="text-light form-label">Vagas Disponiveis</label>
            <input asp-for="Vagas" type="text" class="form-control shadow-none" id="exampleInputVagas" placeholder="Digite a quantidade de vagas disponiveis">
            <span class="text-danger" asp-validation-for="Vagas"></span>
        </div>
       
        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-success w-50">Adicionar</button>
            <a class="btn btn-primary w-50" asp-controller="Oferta" asp-action="Index">Voltar</a>
        </div>
    </form>


</div>